* {
	color:white;
	text-align:center;
}

body {
	background-image:url("../images/movie-wallpaper.jpg");
	line-height:2;
}

#questionaire {
	display:inline;
}

h1 {
	font-size:48px;
}

#timer {
	font-size:24px;
}

input[type="radio"]{
  margin: 0 30px 0 10px;
}

#results {
	display:none;
	font-size:24px;
}

input[type="submit"]{
	background:black;
}
